.header {
  background-color: var(--bg-light);
}

.headerWrapper {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  gap: 15px;
  font-size: 24px;
}

.logo img {
  width: 68px;
  height: 49px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 30px;
}
