.footer {
  background: var(--background);
  margin-top: 128px;
  border-top: 1px solid var(--border);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.copyright {
  border-top: 1px solid var(--border);
  padding: 8px 0;
  text-align: center;
  font-size: 12px;
}
