.preview {
  width: 100%;
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 8px;
}
.previewBlur {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.previewImage {
  object-fit: contain;
  transition: 0.2s opacity ease;
  pointer-events: none;
}

.dotsWrapper {
  display: flex;
  gap: 4px;
  position: absolute;
  pointer-events: none;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%);
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50px;
  transition:
    0.2s width ease,
    0.2s opacity ease;
  background-color: white;
  opacity: 0.6;

  &[data-active="true"] {
    width: 16px;
    opacity: 1;
  }
}
