.hero {
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #cbd8e4;
  margin-bottom: 24px;
  /* margin-top: calc(-1 * var(--space-md)); */
}

.image {
  height: 100%;
  object-fit: contain;
}
