.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.actions,
.topActions {
  position: absolute;
  right: 4px;
  top: 4px;
}

.bottomActions {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.content {
  position: relative;
  padding: 12px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  transition: color 0.2s;
}

.address {
  flex: 1;
  font-size: var(--text-xs);
  color: var(--muted-foreground);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: var(--text-lg);
  font-weight: 700;
  color: var(--primary);
}

/* @media (max-width: 768px) {
  .price {
    font-size: var(--text-base);
  }
  .meta {
    font-size: var(--text-xs);
  }
} */
