.list {
  color: var(--muted-foreground);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  font-size: var(--text-base);
  list-style: none;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.link {
  color: var(--muted-foreground);
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    color: var(--foreground);
  }
}

.page {
  color: var(--foreground);
}

.separator {
  display: inline-flex;

  & > svg {
    width: 16px;
    height: 16px;
  }
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.moreIcon {
  width: 16px;
  height: 16px;
}
