.avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
}

/* Sizes */
.md {
  width: 40px;
  height: 40px;
}

.lg {
  width: 112px;
  height: 112px;
}

.avatarImage {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.avatarFallback {
  background-color: var(--accent);
  color: var(--accent-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.fallbackTextMd {
  font-size: 16px;
}

.fallbackTextLg {
  font-size: 32px;
}
