.avatar {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.avatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
