.card {
  border-radius: 8px;
  background-color: var(--background);
  transition: opacity 0.2s;
  overflow: hidden;
}

.card:hover {
  opacity: 0.9;
}

.card[data-size="wide"] {
  grid-column: span 2;
}

.card[data-size="wide"] .imageWrapper {
  aspect-ratio: 660 / 400;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 320 / 400;
}

.image {
  object-fit: cover;
}

.content {
  padding: 12px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: var(--foreground);
}
