.gallery {
  position: relative;
  /* flex: 1; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* max-width: 650px;
  min-height: 500px; */
  /* border-radius: 12px; */
  /* overflow: hidden; */
  /* background: white; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); */
}

.mainFrame {
  /* width: 100%; */
  object-fit: contain;
}
