:root {
  scrollbar-gutter: stable;

  --bg: #e9ebf7;
  --bg-light: #fff;
  --bg-dark: #dadcea;
  --bg-darkest: #d0d3e4;
  --text-muted: #a8a8a8;
  --blue: #1895e3;
  --purple: #b82ce6;
  --red: #ef2d2d;
  --orange: #e44918;
  --green: #17b95c;
  --pink: #f21957;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  min-height: 100dvh;
  background-color: var(--bg);
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--blue);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 500;
}

.text-blue {
  color: var(--blue);
}
.text-purple {
  color: var(--purple);
}
.text-danger {
  color: var(--red);
}
.text-orange {
  color: var(--orange);
}
.text-green {
  color: var(--green);
}
.text-pink {
  color: var(--pink);
}
.text-muted {
  color: var(--text-muted);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.grid-listing {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
