:root {
  --foreground: #0a0a0a;
  --background: #fff;
  --background-dark: #e9ebf7;

  /* --popover: #fff;
  --popover-foreground: #0a0a0a; */

  --primary: #467bef;
  --primary-foreground: #fff;

  --accent: #f5f5f5;
  --accent-foreground: #171717;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --pink: #f21957;
  --green: #17b95c;

  --destructive: #e7000b;
  --success: var(--green);

  --border: #e5e5e5;
  --ring: #a1a1a1;

  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 14px;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-montserrat);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  color: var(--foreground);
  background-color: var(--background-dark);

  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

.text-primary {
  color: var(--primary);
}
.text-muted {
  color: var(--muted-foreground);
}
.text-pink {
  color: var(--pink);
}
.text-success {
  color: var(--success);
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
  .container {
    padding: 0 12px;
  }
}
