.skeleton {
  min-height: 1rem;
  background-color: var(--skeleton);
  border-radius: var(--radius-lg);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
