.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  animation-duration: 200ms;
}

.overlayOpen {
  animation-name: fadeIn;
}

.overlayClosed {
  animation-name: fadeOut;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: grid;
  gap: 32px;
  width: calc(100% - 32px);
  max-width: 448px;
  background-color: var(--background);
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 24px;
  transform: translate(-50%, -50%);
  animation-duration: 200ms;
}

.contentOpen {
  animation-name: zoomIn;
}

.contentClosed {
  animation-name: zoomOut;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 2px;
  opacity: 0.7;
  transition: opacity 0.2s;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  opacity: 1;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  justify-content: flex-end;
}

.title {
  font-size: 24;
  font-weight: 500;
}

.description {
  font-size: 14px;
  color: var(--muted-foreground);
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0.95);
  }
}
