.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 100px;
  /* border: 1px solid var(--border); */
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.badge svg {
  width: 12px;
  height: 12px;
}

/* Styles */
.primary {
  background-color: var(--accent);
  color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}
