.input[type="text"],
.input[type="password"],
.input[type="email"],
.input[type="tel"] {
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 12px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);
}

.input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #a8a8a8;
}
