.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxGroup {
  display: flex;
  gap: 40px;
  justify-content: center;
  accent-color: var(--blue);
}

.codeInput {
  display: flex;
  gap: 12px;
  & > input {
    flex: 1;
  }
}
