.content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
