.p,
.span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

.h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

.h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}
