.p,
.span {
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.5;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-weight: 500;
  line-height: 1.3;
}

.h1 {
  font-size: var(--text-3xl);
  line-height: 1.2;
}

.h2 {
  font-size: var(--text-2xl);
}

.h3 {
  font-size: var(--text-xl);
}

.h4 {
  font-size: var(--text-lg);
}

.h5 {
  font-size: var(--text-base);
}

.h6 {
  font-size: var(--text-sm);
}
