.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 16px;

  --category-accent: #b82ce6;
  --category-muted: #f9d5ff;
}

.grid article {
  height: auto;
  background-color: var(--category-muted);
}

.grid [data-slot="product-preview"] {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.grid [data-slot="product-price"] {
  color: var(--category-accent);
}

.grid [data-slot="product-link"] :hover {
  color: var(--category-accent);
}

.productHeader {
  font-weight: 500;
  text-align: center;
  padding: 12px;
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  background-color: var(--category-accent);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid > :nth-child(2) {
  --category-accent: #e44918;
  --category-muted: #ffebd5;
}
.grid > :nth-child(3) {
  --category-accent: #ef2d2d;
  --category-muted: #ffd5d5;
}
.grid > :nth-child(4) {
  --category-accent: #4eb71a;
  --category-muted: #e0ffd5;
}
.grid > :nth-child(5) {
  --category-accent: #467bef;
  --category-muted: #d6e4fd;
}
