.promoted {
  border: 2px solid var(--pink);
  border-radius: 8px;

  --product-card-accent: var(--pink);
}

.promotedSign {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  color: var(--pink);

  svg {
    width: 20px;
    height: 20px;
  }
}
