.header {
  background: var(--background);
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--space-md);
}

.wrapper {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}
