.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: var(--background);
  border-radius: var(--radius-lg);
  border: 1px solid var(--border);
  padding: 24px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.reviews {
  color: var(--muted-foreground);
}

.ratingSection {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-yellow-500);
}

.rating svg {
  width: 20px;
  height: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
}
